.main {
    overflow: hidden;
    /* height: 70vh; */
}

.decoration__left {
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 10em;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .decoration__left {
        display: none;
    }
}

.light {
    fill: #d5d9db;
}

.main-section {
    margin: 5em 0 0;
    padding: 0 5em;
    height: 31em;
    position: relative;
}

@media screen and (max-width: 600px) {
    .main-section {
        padding: 20px 10px;
        height: max-content;
    }
}

.small_section {
    margin: 0 0.8em;
    max-width: 75em;
    position: relative;
    padding: 0 5em;
}

@media screen and (max-width: 600px) {
    .small_section {
        flex-direction: column-reverse;
        padding: 0;
        max-width: 100%;
        margin: 0;
    }
}

.main-section-img {
    height: 100%;
    width: 50%;
    overflow: hidden;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .main-section-img {
        width: 100%;
    }
}


.main-section-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    scale: 1.1;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .main-section-img img {
        object-position: center;
        scale: 1;
        overflow: inherit;
    }
}

.container-inner {
    width: calc(55% + 2.1em)!important;
    align-items: center;
    display: flex;
    width: 150%;
    height: 100%;
    justify-content: center;
    /* position: absolute; */
    text-align: left;
    align-self: flex-start;
}

@media screen and (max-width: 600px) {
    .container-inner {
        width: 100% !important;  
        justify-content: flex-start;
    }
}

.intro {
    padding: 0;
}

.headline-one {
    font-size: 50px;
    line-height: 50px;
    font-family: ceraprobold,sans-serif;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    .headline-one {
        font-size: 1.7rem;
        line-height: 1.8rem;
       
    }

    .headline-one:first-child {
        width: 100%;
    }
}

.headline-two {
    font-size: 78px;
    line-height: 64px;
    margin-bottom: 0.4em;
    color: #0d5bff;
}

@media screen and (max-width: 600px) {
    .headline-two {
        font-size: 3rem;
        line-height: 3rem;
        display: flex;
        width: 100% !important;
        justify-content: center;
    }

    .headline-two span {
        width: 100%;
    }
}



.subtext {
    color: #2a2a3f;
    font-family: ceraProMedium, sans-serif;
    /* font-family: ceraProThin; */
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 1em;
    padding: 0 0 1em;
    line-height: 1.7;
}

@media screen and (max-width: 600px) {
    .subtext {
        font-size: 1rem;
    }
}

.small-triangles {
    -webkit-transform: translateY(-60%)!important;
    transform: translateY(-60%)!important;
}

@media screen and (max-width: 600px) {
    .small-triangles {
        display: none;
    }
}

.primary {
    fill: #0d5bff;
}

.decoration__right {
    position: absolute;
    width: 10em;
    z-index: 10;
    top: 30.5rem;
}

.decoration__right {
    right: 0;
    -webkit-transform: translateY(-56%);
    transform: translateY(-56%);
}

svg:not(:root) {
    overflow-x: hidden;
}

.bg-gray {
    background-color: #e8e8e8;
    padding-bottom: 5em;
    z-index: 2;
    color: #2a2a3f;
}


.headline-div-padding {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5em 0 2em;
    width: 1200px;
}

@media screen and (max-width: 600px) {
    .headline-div-padding {
        width: 100%;
        padding: 3rem 20px;
        margin: 0;
    }
}

.headline-grid-one {
    font-family: ceraProBold,sans-serif;
    font-size: 50px;
    line-height: 50px;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .headline-grid-one {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.headline-grid-two {
    color: #0d5bff;
    font-family: ceraProBold,sans-serif;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .headline-grid-two {
        font-size: 50px;
        line-height: 50px;
    }
}

.subtitle-div-width {
    margin-top: 0.5em;
}

@media screen and (max-width: 600px) {
    .subtitle-div-width {
        margin-top: 2rem;
    }
}

.subtitle-div-width.text-left p {
    font-size: 1.125em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: ceraProRegular,sans-serif;
}

@media screen and (max-width: 600px) {
    .subtitle-div-width.text-left p {
        font-size: 0.95rem;
    }
}

.grid-two-columns {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0;
    margin: 0 auto;
    width: 1200px;
    justify-content: flex-start;
}

@media screen and (max-width: 600px) {
.grid-two-columns {
    padding: 20px;
    width: 100%;display: flex;
    flex-direction: column;
}
}

.undefined {
    margin: 0 auto;
}

.block-card {
    margin: 0;
}


@media screen and (max-width: 600px) {
    .two-col-btn Button {
        width: 100%;
    }
}


.headline-text-left {
    color: #2a2a3f;
    font-family: ceraProBlack,sans-serif;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 32px;
}


@media screen and (max-width: 600px) {
    .headline-text-left {
        font-size: 22px;
        line-height: 24px;
    }
}


.two-class {
    width: 100%;
    background-color: #fff;
    color: #2a2a3f;
    border-radius: 10px 10px;
}

.two-class-img {
    height: 400px;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 10px 10px 0 0;
}


@media screen and (max-width: 600px) {
    .two-class-img {
        height: 330px;
    }
}

.two-class-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.two-columns_inner {
    padding: 1.5em;
}

.two-col-intro .subtitle {
    font-size: 24px;
    font-family: CeraProBold;
    margin: 0.5em 0;
}

@media screen and (max-width: 600px) {
    .two-col-intro .subtitle {
        font-size: 20px;
    }
}

.subtext {
    font-size: 1.125em;
    font-family: ceraProRegular;
}

@media screen and (max-width: 600px) {
    .subtext {
        font-size: 1.1rem;
    }
}


.blue-bg {
    background-color: #0d5bff;
    display: flex;
    justify-content: center;
    height: 60vh;
}

@media screen and (max-width: 600px) {
    .blue-bg {
        height: 50vh;
        justify-content: flex-start;
    }
}

.container-outer {
    background-color: #2a2a3f;
    background-image: none;
    margin: 0 0.8em;
    max-width: 75em;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/public/images/duotone-father-daughter.webp");
    background-position: center;
    background-size: cover;   
}

@media screen and (max-width: 600px) {
    .container-outer {
        width: 100%;
    }
}


.gatsby-img {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: left;
    width: calc(55% + 2.1em)!important;
    margin-left: 5em;
}

@media screen and (max-width: 600px) {
    .gatsby-img {
        margin-left: 0;
        width: 100%;
    }
}

.blue-bg-intro h2 {
    font-family: ceraProBold,sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .blue-bg-intro h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

.blue-bg-intro span{
    font-family: ceraProRegular,sans-serif;
    color: #0d5bff;
    font-size: 80px;
    line-height: 64px;
    text-shadow: 2px 2px #fff, 2px 0 #fff, 2px -2px #fff, 0 2px #fff, 0 -2px #fff, -2px 2px #fff, -2px 0 #fff, -2px -2px #fff;
}


@media screen and (max-width: 600px) {
    .blue-bg-intro span {
        font-size: 50px;
        line-height: 50px;
    }
}

.three-grid-col {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2em 0 0;
    margin: 0 auto;
    width: 1200px;
    font-family: ceraProBlack;
}

@media screen and (max-width: 600px) {
    .three-grid-col {
        width: 100%;
        padding: 20px;
    }
}


.block-card {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    width: 100%;
}


.block-card h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 600px) {
    .block-card h2 {
        font-size: 30px;
    }
}

.grid-details {
    background: #fff;
    border-radius: 10px 10px;
    
}

.grid-img {
    padding: 40px 30px 0;
    min-height: 300px;
}

.grid-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-padding {
    padding: 1.5em 30px 32px;
}

div.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; 
    width: 100%;
}

.buttons-undefined {
    width: 100%;
}

.blue-bgs {
    padding: 3rem 0;
    background: url('https://images.ctfassets.net/vrxttq978is8/68tlG9WD3Y1Xz1LzqEP1QT/29aedbe23cc819933a7511b43e145b89/Avant_Candid8_45893.png?w=1000&h=313&q=50&fm=webp');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .blue-bgs {
        padding: 20px;
        width: 100%;
        background-size: auto;
        background-color: #0d5bff;
        background-repeat: no-repeat;
    }
}

.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    padding: 3em 5em;
}

@media screen and (max-width: 600px) {
    .section-hero {
        padding: 2em 3em;
        width: 100%;
    }
}

.section-hero-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55em;
    padding: 0 5em;
}

@media screen and (max-width: 600px) {
    .section-hero-flex {
        width: 100%;
        padding: 0;
    }
}

.section-hero-flex h2 {
    font-family: ceraProBold;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 0.25em;
    padding: 0 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .section-hero-flex h2 {
        font-size: 2rem;
        line-height: 2rem;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .check-button {
        align-items: center;
    }
}
